<h2>New Job</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="control-wrapper">
    <input type="text" placeholder="Position" formControlName="position">
  </div>
  <div class="control-wrapper">
    <input
      type="text"
      placeholder="Start Date"
      formControlName="startDate"
      dpDayPicker
      mode='month'
      theme="dp-material"
    >
  </div>
  <div class="control-wrapper">
    <input
      type="text"
      placeholder="End Date"
      formControlName="endDate"
      dpDayPicker
      mode='month'
      theme="dp-material"
    >
  </div>
  <div class="control-wrapper">
    <input type="text" placeholder="Company" formControlName="company">
  </div>
  <div class="form-subgroup" formArrayName="generalTechnologies">
    <div class="title-wrap">
      <h3>Technologies</h3>
      <app-plus
        (click)="toggleTechnologies()"
        [active]="isTechnologiesExpanded"
        [tooltip]="getBtnTooltip('Technologies')"
      ></app-plus>
    </div>
    <ng-container *ngIf="isTechnologiesExpanded">
      <div class="control-wrapper flex" *ngFor="let generalTech of getGeneralTechnologies().controls; let generalTechIndex = index">
        <div class="input-flex-wrap">
          <input type="text" placeholder="Technology" [formControlName]="generalTechIndex">
        </div>
        <button class="btn" type="button" (click)="onRemoveTechnology(generalTechIndex)">Remove</button>
      </div>
      <button type="button" class="btn secondary" (click)="onAddJobTechnology()">Add Technology</button>
    </ng-container>
  </div>
  <div class="form-subgroup" formArrayName="generalResponsibilities">
    <div class="title-wrap">
      <h3>Responsibilities</h3>
      <app-plus
        (click)="toggleResponsibilities()"
        [active]="isResponsibilitiesExpanded"
        [tooltip]="getBtnTooltip('Responsibilities')"
      ></app-plus>
    </div>
    <ng-container *ngIf="isResponsibilitiesExpanded">
      <div class="control-wrapper flex" *ngFor="let generalResp of getGeneralResponsibilities().controls; let generalRespIndex = index">
        <div class="input-flex-wrap">
          <input type="text" placeholder="Responsibility" [formControlName]="generalRespIndex">
        </div>
        <button class="btn" type="button" (click)="onRemoveResponsibility(generalRespIndex)">Remove</button>
      </div>
      <button type="button" class="btn secondary" (click)="onAddJobResponsibility()">Add Responsibility</button>
    </ng-container>
  </div>
  <div class="form-subgroup" formArrayName="projects">
    <div class="title-wrap">
      <h3>Projects</h3>
      <app-plus
        (click)="toggleProjects()"
        [active]="isProjectsExpanded"
        [tooltip]="getBtnTooltip('Projects')"
      >
      </app-plus>
    </div>
    <ng-container *ngIf="isProjectsExpanded">
      <ng-container *ngFor="let project of getProjects().controls; let projectIndex = index">
        <ng-container [formGroupName]="projectIndex">
          <div class="control-wrapper">
            <input type="text" placeholder="Project Name" formControlName="projectName">
          </div>
          <div class="form-subgroup" formArrayName="projectTechnologies">
            <h4>Technologies</h4>
            <div
              class="control-wrapper flex"
              *ngFor="let technology of getProjectTechnologies(projectIndex).controls; let techIndex = index"
            >
              <div class="input-flex-wrap">
                <input type="text" placeholder="Technology" [formControlName]="techIndex">
              </div>
              <button class="btn" type="button" (click)="onRemoveProjectTechnology(projectIndex, techIndex)">Remove</button>
            </div>
            <button type="button" class="btn secondary" (click)="onAddProjectTechnology(projectIndex)">Add Technology</button>
          </div>
          <div class="form-subgroup" formArrayName="projectResponsibilities">
            <h4>Responsibilities</h4>
            <div
              class="control-wrapper flex"
              *ngFor="let responsibility of getProjectResponsibilities(projectIndex).controls; let respIndex = index"
            >
              <div class="input-flex-wrap">
                <input type="text" placeholder="Technology" [formControlName]="respIndex">
              </div>
              <button class="btn" type="button" (click)="onRemoveProjectResponsibility(projectIndex, respIndex)">Remove</button>
            </div>
            <button type="button" class="btn secondary" (click)="onAddProjectResponsibility(projectIndex)">Add Responsibility</button>
          </div>
          <div class="control-wrapper">
            <button type="button" class="btn secondary" (click)="onRemoveProject(projectIndex)">Remove Project</button>
          </div>
        </ng-container>
      </ng-container>
      <button type="button" class="btn secondary" (click)="onAddProject()">Add Project</button>
    </ng-container>
  </div>
  <hr>
  <button class="btn" type="submit">Submit</button>
  <app-spinner *ngIf="isLoading"></app-spinner>
</form>
