<h2>Work Experience</h2>
<form>
  <div class="control-wrapper">
    <input type="text" placeholder="Position">
  </div>
  <div class="control-wrapper">
    <input type="text" placeholder="Period">
  </div>
  <div class="control-wrapper">
    <input type="text" placeholder="Company">
  </div>
  <div class="form-subgroup">
    <div class="title-wrap">
      <h3>Technologies</h3>
      <app-plus
        (click)="toggleTechnologies()"
        [active]="isTechnologiesExpanded"
        tooltip="Expand Technologies Section"
      ></app-plus>
    </div>
    <ng-container *ngIf="isTechnologiesExpanded">
      <div class="control-wrapper">
        <input type="text" placeholder="Technology">
      </div>
      <button type="button" class="secondary">Add Technology</button>
    </ng-container>
  </div>
  <div class="form-subgroup">
    <div class="title-wrap">
      <h3>Responsibilities</h3>
      <app-plus
        (click)="toggleResponsibilities()"
        [active]="isResponsibilitiesExpanded"
        tooltip="Expand Responsibilities Section"
      ></app-plus>
    </div>
    <ng-container *ngIf="isResponsibilitiesExpanded">
      <div class="control-wrapper">
        <input type="text" placeholder="Responsibility">
      </div>
      <button type="button" class="secondary">Add Responsibility</button>
    </ng-container>
  </div>
  <div class="form-subgroup">
    <div class="title-wrap">
      <h3>Projects</h3>
      <app-plus
        (click)="toggleProjects()"
        [active]="isProjectsExpanded"
        tooltip="Expand Projects Section"
      ></app-plus>
    </div>
    <ng-container *ngIf="isProjectsExpanded">
      <div class="control-wrapper">
        <input type="text" placeholder="Project Name">
      </div>
      <div class="form-subgroup">
        <h4>Technologies</h4>
        <div class="control-wrapper">
          <input type="text" placeholder="Technology">
        </div>
        <button type="button" class="secondary">Add Technology</button>
      </div>
      <div class="form-subgroup">
        <h4>Responsibilities</h4>
        <div class="control-wrapper">
          <input type="text" placeholder="Technology">
        </div>
        <button type="button" class="secondary">Add Responsibility</button>
      </div>
      <button type="button" class="secondary">Add Project</button>
    </ng-container>
  </div>
  <button type="button" class="secondary">Add Job</button>
  <hr>
  <button type="submit">Submit</button>
</form>
