.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background: #000;

  h1 {
    margin: 0;
    font-size: 24px;
  }

  a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      pointer-events: none;
    }
  }
}
