<div class="title">
  <h1>
    Work Experience
    <app-spinner *ngIf="isLoading"></app-spinner>
  </h1>
  <button class="btn" (click)="onAddJob()">Add Job</button>
</div>

<div class="jobs" *ngIf="jobs">
  <a
    class="job"
    *ngFor="let job of jobs"
    [routerLink]="['/', 'admin', 'experience', job.id]"
  >
    <div class="position">{{ job.position }}</div>
    <div class="company">{{ job.company }}</div>
    <div class="period">{{ job.startDate | date: 'MMM, yyyy' }} - {{ job.endDate | date: 'MMM, yyyy' }}</div>
    <app-remove class="delete-btn" (click)="onRemoveJob($event, job.id)"></app-remove>
  </a>
</div>
