input {
  width: 100%;
  padding: 8px 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  transition: box-shadow 0.3s;
  outline: none;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }

  &.ng-touched {
    &.ng-invalid {
      border-color: $red;
    }

    &.ng-valid {
      border-color: $lime;
    }
  }
}

button {
  padding: 8px 20px;
  margin-right: 5px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Roboto Condensed', sans-serif;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

  &:focus,
  &:hover {
    background: #333;
  }

  &:active {
    background: #777;
    transition: none;
  }

  &.secondary {
    color: #000;
    background: #ccc;

    &:focus,
    &:hover {
      background: #aaa;
    }

    &:active {
      background: #888;
    }
  }
}

.control-wrapper {
  margin-bottom: 20px;

  &.flex {
    display: flex;
  }

  .input-flex-wrap {
    width: 100%;
  }
}

.form-subgroup {
  margin: 40px 0 40px 60px;
  padding-left: 20px;
  border-left: 3px solid #ccc;
}
