#fp-nav {
  ul li a span {
    background: #fff;
  }

  &.dark {
    ul li a span {
      background: #000;
    }
  }
}

.fp-scroller {
  transition-duration: 500ms !important;
}

.iScrollIndicator {
  transition-duration: 500ms !important;
}
